<app-header/>
<div class="main">
    <div class="container">
        @if(reqList.length == 0){
        <div class="card">
            <h3>No Request Comes In Any Rides.</h3>
        </div>
        }
        @else {
        @for (item of reqList; track $index) {
        <div class="card" [ngStyle]="{'text-decoration' : item.completed ? 'line-through' : ''}">
            <h2>{{item.ride.start}} - {{item.ride.via1}} - {{item.ride.via2}} - {{item.ride.via3}} - {{item.ride.end}}
            </h2>
            <h2>Request From : {{item.requestName}}</h2>
            <h3>From : {{item.start}}</h3>
            <h3>To : {{item.end}}</h3>
            <h3>Seat : {{item.seat}}</h3>
            @if(!item.completed){
            @if(item.accepted ==''){
            <div class="action">
                <button (click)="onAccept(item)">Accept</button>
                <button (click)="onDecline(item)">Decline</button>
            </div>
            }@else if(item.accepted == "Accepted"){
            <h3 style="color: #3CB371; margin-top: 10px;">!! Request Accepted !!</h3>
            @if(!item.chatCreate){
            <div class="action">
                <button (click)="crateChat(item)">Create Chat</button>
            </div>
            }@else {
            <div class="action">
                <button (click)="openChat(item.id)">Open Chat</button>
            </div>
            }
            }@else if(item.accepted == "Declined"){
            <h3 style="color: #FFA07A; margin-top: 10px;">!! Request Declined !!</h3>
            }
            }
        </div>
        }
        }
    </div>

    @if(isChatOpen){
    <div class="chatBox">
        <h2><span>{{chat.riderName}} - {{chat.requsetName}}</span></h2>

        @for (item of chat.messages; track $index) {
        <div class="box"
            [ngStyle]="{'background-color' : item.name == user.name ? 'linear-gradient(to bottom right, #4B0082, #00BFFF)' : 'linear-gradient(to bottom right, #3CB371, #FFA07A)'}">
            <h3>
                @if(item.name == user.name){
                You :
                }@else {
                {{item.name}} :
                }
            </h3>
            <h4>{{item.message}}</h4>
        </div>
        }

        <div class="inputbox">
            <input type="text" placeholder="Enter your message" [(ngModel)]="messageText" name="messageText">
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
    }
</div>